@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

header {
    padding: 1px;
    text-align: left;
    background: #fcff33;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

header a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Comfortaa', cursive;
    margin:0%;
}
.item-list {
    font-size: 24px;
    transition: font-size .5s;
}
#nav {
    margin: 0px;
    padding: 0px;
}

.item-list:hover {
    font-size: 35px;
    transition: font-size .5s;
}
#list-nav-container {
    color:black;
    margin: 0%;
    padding: 0%;
    height: 0px;
}

#list-nav-container ul {
    margin: 0cm;
    padding: 0cm;
}


.item-list {
    background-color: rgb(247, 255, 179);
    margin: 0%;
    padding: 10px;
    list-style-type: none;
    display: inline;
    float: left;
    display: block;
    border-style: solid;
    border-width: 2px;
    border-color: azure;
}
.item-list:hover {
    border-bottom-color: rgb(255, 166, 0);
}
#nav a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Comfortaa', cursive;
}
